{{#link-to "index"}} Go home {{/link-to}}
<br>
<h3>Create a new Champion</h3>
{{champion-form createChampion="createChampion"}}
<br>
{{#each model as |champion|}}
    {{#bs-accordion as |acc|}}
      {{#acc.item value="1" title=champion.name}}
      {{update-champion champion=champion updateChampion="updateChampion"}}
      {{/acc.item}}
      {{#acc.item value="2" title=champion.role}}
      {{update-role champion=champion updateChampion="updateChampion"}}
      {{/acc.item}}
      {{#acc.item value="3" title=champion.guide}}
      {{update-guide champion=champion updateChampion="updateChampion"}}
      {{/acc.item}}
      {{/bs-accordion}}
      <button {{action "deleteChampion" champion}}>Delete</button>
      <br>
{{/each}}
